{
  "root": true,
  "extends": [
    "finn",
    "finn/node"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "jest": true
  }
}
